<div class="row">

  <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 profile" id="user_profile">
      <%= link_to "ユーザー一覧",users_path %> / <%= image_tag @users.attachment, :size =>"30x30" %><%= link_to @users.username, user_path(@users) %> / お気に入り
  </div>
  
</div

<div class="row" >
<% @users.each do |user| %>
    <% unless user.username.nil? %>
      <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1" id="user_profile"> <!-- User Profile ----------------------------->
        <div class="col-xs-12 col-sm-12 col-md-12  profile-header"><span class="glyphicon glyphicon glyphicon-user fa-2x" aria-hidden="true"></span> <%= link_to user.username, user_path(user) %></div>
          <div class="col-xs-12 col-sm-12 col-md-12" > <!-- ユーザーの属性 -->
            <div class="profile-left"><span class="glyphicon glyphicon glyphicon-book" aria-hidden="true"></span> <%= user.major %></div>
            <% if user.thesisName.present? %>
            <div class="profile-left">
                <div><i class="fa fa-info-circle" aria-hidden="true"></i><%= user.thesisName %></div>
            </div>
            <% end %>
            <div class="profile-left"><i class="fa fa-heart" aria-hidden="true"></i>　キーワード</div>
                <% user.interest_list.each do |tag| %>
                    <span class="tag-button"><%= tag %></span>
                <% end %>
            <% if user.attachment.present? %>
                <div class="profile-left pdf-button-small"><i class="fa fa-paperclip" aria-hidden="true"></i><%= link_to asset_path(user.attachment) do %>PDFを見る<% end %></div>
            <% else %>
                <p>このユーザーはまだ論文をアップロードしていません</p>
                
            <% end %>
            <!--- USERがPDFを持っていたら、PDFへのリンクをはる -->
        
          </div>
         </div>
    <% end %>
<% end %>
</div>