<h1>Clipped page</h1>

<div class="row">
    <% @user.each do |user| %>
      <div class="col-sm-12 col-md-12" id="user_profile"> <!-- User Profile ----------------------------->
          
          <div class ="col-sm-12 col-md-12"> <!-- 論文のタイトル -->
            <h2 id="profile-header"><a href="<%=user_path(user)%>" role="button"><%= user.thesisName %></a></h2>
          </div>
          
          <div class="col-sm-3 col-md-3" > <!-- ユーザーの属性 -->
            <div class="profile-left">名前：<%=user.username %></div>
            <div class="profile-left"><i class="fa fa-bookmark" aria-hidden="true"></i>:<%= user.get_upvotes.size %></div>
            <div class="profile-left"><%=user.graduate %></div>
            <div class="profile-left"><%= user.major %></div>
            <div class="profile-left"><!--ここにタグが入る予定です --></div>
          </div>
          
          <div class="col-sm-9 col-md-9" id="profile-abstract"> <!-- 論文/興味のabstract -->
            <div class="profile-left" ><%= user.abstract %></div>
          </div>
          
          <div class="row">
            <div class="col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4 clip-button"><%= link_to" クリップから外す",dislike_user_path(user),method: :put %> </div>
          </div>
          
      </div> <!-- User Profile ----------------------------->
    <% end %>
</div><!-- row ----------------------------->
