<% provide(:title, "プロフィールを編集") %>
<div class="row">

    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 profile" id="user_profile" style="padding:20px">
        <div class="form-group">
          <%= form_for(@user, :html => {:class => "form"})do |f| %>
            <span class="profile-header"><span class="glyphicon glyphicon glyphicon-user" aria-hidden></span> ユーザー名 *</span>
                <div><textarea name="user[username]" class="form-control form" placeholder="ユーザー名を入力してください。後でいつでも変更することができます。"><%=@user.username%></textarea></div>
            <div class="profile-header"><i class="fa fa-envelope-open" aria-hidden="true"></i> 学年 *</div>
                <%= f.select :years,([
                [""],
                ["高校生以下"],
                ["大学1年生"],
                ["大学2年生"],
                ["大学3年生"],
                ["大学4年生"],
                ["修士"],
                ["博士"],
                ["その他"],
                ["社会人"]
                ]) %>
                <div class="profile-header"><span class="glyphicon glyphicon glyphicon-book" aria-hidden="true"></span> 専攻 *</div>
            <div>
                <%= f.select :major,([
                [""],
                ["アメリカ研究"],
                ["文化人類学"],
                ["アジア研究"],
                ["生物学"],
                ["経営学"],
                ["化学"],
                ["教育学"],
                ["経済学"],
                ["環境学"],
                ["グローバル研究"],
                ["ジェンダー・セクシャリティー研究"],
                ["歴史学"],
                ["国際関係学"],
                ["情報科学"],
                ["日本研究"],
                ["法学"],
                ["言語教育"],
                ["文学"],
                ["言語学"],
                ["メディア・コミュニケーション・文化"],
                ["数学"],
                ["音楽"],
                ["平和研究"],
                ["哲学・宗教学"],
                ["物理学"],
                ["政治学"],
                ["公共政策"],
                ["心理学"],
                ["社会学"],
                ["その他"]
                ]) %>
            </div>
            
            <div class="profile-header"><i class="fa fa-envelope-open" aria-hidden="true"></i> メールアドレス *</div>
                <div><textarea name="user[email]" class="form-control form" placeholder="メールアドレスを入力すると、コンタクトリクエストが送れるようになります。emailアドレスは相互承認されたときのみ、相手に公開されます。" width="100%"><%=@user.email%></textarea></div>
            <div class="profile-header">Twitter ID（任意）</div>
            <div>@<textarea name="user[twitter_id]" class="form-control form" placeholder="コンタクトリクエストが相互承認されると、公開されます。" width="100%"><%=@user.twitter_id%></textarea></div>
            <div class="profile-header">関心タグ（半角カンマ区切り）*</div>
                <div><%= text_field_tag 'user[interest_list]', @user.interest_list.join(',' || '、'), "data-role" => "tagsinput", :class =>"form" %></div>
            <div class="profile-header"><i class="fa fa-heart" aria-hidden="true"></i> プロフィール *</div>
                <div><textarea name="user[bio]" class="form-control form col-xs-12" placeholder= "興味、経歴を記入してください。(例)地方創生に興味があります。日本の貧困層の教育をい学ぶために、NPOで働いていました。今は卒業して、教育関係の会社で働いています。大学3年生です。ジェンダー研究に興味があります。上野千鶴子が好きです。女性の格差問題に興味がある人はぜひコンタクトお願いします" width="100% "><%= @user.bio %></textarea></div>
            <div class="profile-header"><i class="fa fa-heart" aria-hidden="true"></i> 会いたい人</div>
                <div><textarea name="user[people]" class="form-control form col-xs-12" placeholder= "音楽メジャーの先輩に、話を聞いてみたいです。" width="100% "><%= @user.people %></textarea></div>
            
            <h2 class="profile-header"><i class="fa fa-paperclip" aria-hidden="true"></i>プロフィール画像（任意）</h2>
                <%= f.file_field :attachment %>
            <h2 class="profile-header"><input type="submit" value="変更する" class="btn btn-primary btn-lg btn-block"/></h2>
        <% end %>
        </div>
            

    </div>
    
    

    
    
</div>