<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1" id="user_profile" style="margin-top:50px">
        <%= link_to "ユーザー一覧",users_path %> / <%= image_tag current_user.attachment, :size =>"30x30" %><%= link_to current_user.username, user_path(current_user) %> / コンタクトリスト
    </div>
    
    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1"  id="user_profile"> <!--ここに、共通の友人一覧を表示-->
        <div class="profile-header" style="text-align:center;padding:20px 0"></div>
            <% if @pendingfriends.present? %>
                <h2 class="profile-header"><%= @pendingfriends.count%>人からコンタクトリクエストが届いています</h2>
                <% @pendingfriends.each do |user| %>
                    <div class="profile-left"><%= link_to user.username,user_path(user) %></div>
                    <div class="profile-left"><span class="glyphicon glyphicon glyphicon-book" aria-hidden="true"></span> <%= user.major %></div>
                    <div class="profile-left"><span class="glyphicon glyphicon glyphicon-education" aria-hidden="true"></span> <%=user.graduate %></div>
                    <div class="profile-left"><i class="fa fa-heart" aria-hidden="true"></i>　キーワード</div>
                    <% user.interest_list.each do |tag| %>
                        <span class="tag-button"><%= tag %></span>
                    <% end %>
                    <div style="profile-left"><i class="fa fa-heart" aria-hidden="true"></i>興味・関心</div>
                    <div style="profile-right" style="padding:20px"><%=user.bio %></div>
                    <div class="profile-left request-button-small"><i class="fa fa-user-plus" aria-hidden="true"></i><%= link_to " 承認する", follow_user_path(user)%></div>
                <% end %>
            <% else %>
                <div>現在、コンタクトリクエストがありません。</div>
            <% end %>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1" id="user_profile" > <!--ここに、共通の友人一覧を表示-->
        <div class="profile-header" style="text-align:center;padding:20px 0">コンタクト可能な人</div>
            <% if @mutualfriends.present? %>
                <h2 class="profile-header">友達(<%= @mutualfriends.count %>)</h2>
            
                <% @mutualfriends.each do |user| %>
                    <div class="profile-left"><%= link_to user_path(user) do %><%= image_tag user.avatar_url, :size => "100x100" %><% end %></div>
                    <div class="profile-left"><span class="glyphicon glyphicon glyphicon-user" aria-hidden="true"> <%= link_to user.username,user_path(user) %>(<%= user.name %>)</div>
                    <div class="profile-left"><span class="glyphicon glyphicon glyphicon-book" aria-hidden="true"></span> <%= user.major %></div>
                    <div class="profile-left"><i class="fa fa-envelope-open-o" aria-hidden="true"></i> <%= user.email %></div>
                    <div class="profile-left">Twitte: @<%= user.twitter_id %></div>

                <% end %>
            <% else %>
                <div>現在、コンタクトが取れる人がいません。</div>
            <% end %>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1" id="user_profile" > <!--ここに、共通の友人一覧を表示-->
        <div class="profile-header" style="text-align:center;padding:20px 0">送信済みコンタクトリクエスト</div>
                <% if @currentuser_sending.present? %>
                    <h2 class="profile-header"><%= @currentuser_sending.count%>人にコンタクトリクエストを送っています</h2>
                    <% @currentuser_sending.each do |user| %>
                        <div class="profile-left"><%= user.username %></div>
                        <div class="profile-left"><span class="glyphicon glyphicon glyphicon-book" aria-hidden="true"></span> <%= user.major %></div>
                        <div class="profile-left"><span class="glyphicon glyphicon glyphicon-education" aria-hidden="true"></span> <%=user.graduate %></div>
                        <div class="profile-left"><i class="fa fa-heart" aria-hidden="true"></i>　キーワード</div>
                        <% user.interest_list.each do |tag| %>
                            <span class="tag-button"><%= tag %></span>
                        <% end %>
                        <div style="profile-left"><i class="fa fa-heart" aria-hidden="true"></i>興味・関心</div>
                        <div style="profile-right" style="padding:20px"><%=user.bio %></div>
                    <% end %>
                <% else %>
                    <div>現在、コンタクトリクエストを送信していません</div>
                <% end %>
    </div>
</div>
