<div class="row">
    <div class="col-sm-12 col-md-6"> <!--ここに、共通の友人一覧を表示-->
    <h2>友達</h2>以下のユーザーは名前がわかります。</small>
        <% @mutualfriends.each do |user| %>
            <div id = "user_profile">
                <div class="profile-left"><%= image_tag user.avatar_url, :size => "100x100" %></div>
                <div class="profile-left"><%= link_to user.thesisName,user_path(user)%></h2></div>
                <div class="profile-left"><%= user.major %></div>
                <div class="profile-left">名前：(@<%= user.username %>)<%= user.name %></div>
                <div class="profile-left"><i class="fa fa-bookmark" aria-hidden="true"></i>:<%= user.get_upvotes.size %></div>
                <div class="profile-left"><%=user.graduate %></div>
                <div class="profile-left"><!--ここにタグが入る予定です --></div>
            </div>
        <% end %>
    </div><!--ここに、共通の友人一覧を表示-->
    
    <div class="col-sm-12 col-md-6"> <!--ここに、友達リクエストを表示-->
        <h2>友達リクエスト</h2>
        <% @followers.each do |user| %>
            <% unless current_user.follow(user) %>
                <div  id = "user_profile">
                   <h2 class="profile-header"><%= link_to user.thesisName,user_path(user)%></h2>
                    <div class="profile-left"><%= user.major %></div>
                    <div class="profile-left"><%= image_tag user.avatar_url, :size => "100x100" %></div>
                    <div class="profile-left">名前：(@<%= user.username %>)<%= user.name %></div>
                    <div class="profile-left"><i class="fa fa-bookmark" aria-hidden="true"></i>:<%= user.get_upvotes.size %></div>
                    <div class="profile-left"><%=user.graduate %></div>
                    <div class="profile-left"><%= link_to "承認する", follow_user_path(user) %></div>
                </div>
            <% end %>    
        <% end %>
        </div>
    </div>
    


