<div class="row">
    <div class="col-sm-12 col-md-6" id="user_profile" > <!--ここに、共通の友人一覧を表示-->
    <h2 class="profile-header">友達</h2>
        <% @mutualfriends.each do |user| %>
            <div id = "user_profile">
                <div class="profile-left"><%= link_to user_path(user) do %><%= image_tag user.avatar_url, :size => "100x100" %><% end %></div>
                <div class="profile-left"><span class="glyphicon glyphicon glyphicon-user" aria-hidden="true"> <%= user.username %>(<%= user.name %>)</div>
                <div class="profile-left"><span class="glyphicon glyphicon glyphicon-book" aria-hidden="true"></span> <%= user.major %></div>
                <div class="profile-left"><span class="glyphicon glyphicon glyphicon-education" aria-hidden="true"></span> <%=user.graduate %></div>
            </div>
        <% end %>
    </div>
    
    <div class="col-sm-12 col-md-6"> <!--ここに、友達リクエストを表示-->
        <h2>友達リクエスト</h2>
        <% @pendingfriends.each do |user| %>
            <% if user != @mutualfriends %>
                <div  id = "user_profile">
                   <h2 class="profile-header"><%= link_to user.thesisName,user_path(user)%></h2>
                    <div class="profile-left"><%= user.major %></div>
                    <div class="profile-left"><%= image_tag user.avatar_url, :size => "100x100" %></div>
                    <div class="profile-left">名前：(@<%= user.username %>)<%= user.name %></div>
                    <div class="profile-left"><i class="fa fa-bookmark" aria-hidden="true"></i>:<%= user.get_upvotes.size %></div>
                    <div class="profile-left"><%=user.graduate %></div>
                    <div class="profile-left"><%= link_to "承認する", follow_user_path(user) %></div>
                </div>
            <% end %>
        <% end %>
        </div>
    </div>
    


