<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 profile" id="user_profile">
         <%= link_to "ユーザー一覧",users_path %> / <%= image_tag @user.attachment, :size =>"30x30" %><%= link_to @user.username, user_path(@user) %>
    </div>
      <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 profile" id="user_profile"> <!-- User Profile ----------------------------->
        <div class="col-xs-12 col-sm-12 col-md-12 profile-header"><%= image_tag @user.attachment, :size =>"50x50" %><%= link_to @user.username, user_path(@user)%></div>
          <div class="col-sm-12 col-xs-12 col-md-12" > <!-- ユーザーの属性 -->
          <div class="profile-left"><i class="fa fa-graduation-cap" aria-hidden="true"></i> <%= @user.years %></div>
            <div class="profile-left"><span class="glyphicon glyphicon glyphicon-book" aria-hidden="true"></span> <%= @user.major %></div>
            <div class="profile-left"><i class="fa fa-heart" aria-hidden="true"></i>　キーワード</div>
                <% @user.interest_list.each do |tag| %>
                    <span class="tag-button"><%= tag %></span>
                <% end %>
          </div>
          
          
          <div class="col-xs-12 col-sm-12 col-md-12 col-xs-12" id="profile-abstract"> <!-- 論文/興味のabstract -->
            
            <div class="profile-left">
                <div style="border-bottom:1px solid #606060"><i class="fa fa-heart" aria-hidden="true"></i>プロフィール</div>
                <div style="padding:20px"><%= @user.bio %></div>
            </div>
            
            <% if current_user.email.present? & current_user.username.present? %>
            
                <% if @user.email.present?%> 
            <!-----------------フォローするユーザーにまだフォローしていない場合は、コンタクト申請を送る------------------------------>
                    <% if !(current_user.following?(@user)) %>
                        <div class="profile-left request-button-small"><i class="fa fa-user-plus" aria-hidden="true"></i><%= link_to " 友達申請する", follow_user_path(@user),:style =>"color:white;" %></div>
            <!-----------------フォローするユーザーへのコンタクト申請が済んでいるときはコンタクト可能と表示する------------------------------>
                    <% else %>
                        <span class="profile-left request-button-small"><i class="fa fa-user-plus" aria-hidden="true"></i>コンタクト可能</span>
                    <% end %>
            <!-----------------フォローするユーザーのメールアドレスが未登録の場合、メールアドレスが登録されていないと表示する------------------------------>
                <% else %>
                    <div class="profile-left"><i class="fa fa-user-plus" aria-hidden="true"></i>メールアドレスが登録されていません</div>
                <% end %>
              <!---------------------自分のメールアドレス、ユーザ名が存在しない場合、自分のプロフィールを編集するようにリンクを張る。 -------->
              <% else %>
                  <div class="profile-left request-button-small"><i class="fa fa-user-plus" aria-hidden="true"></i><%= link_to 'コンタクトリクエストが送れるよう、自分のプロフィールを編集しましょう。', edit_user_path(current_user),:style => "color:white" %></div>
              <% end %>
            
            
          </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1" style="text-align:center; font-size:24px">論文(<%= @posts.count %>)</div>
    
<!-------------------------------------------------論文ページ------------------------------------------------------------->
    <% @posts.each do |post| %>
        <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 profile" id="posts-index"> 
                <div class=" profile-header"><%= link_to post.title, post_path(post)%></div>
                <% post.keyword_list.each do |tag| %>
                    <span class="tag-button"><%= tag %></span>
                  <% end %>
                <div class ="profile-left"><%= image_tag @user.attachment, :size =>"30x30" %><%= @user.username %></div>
                <div class ="profile-left"><span class="glyphicon glyphicon glyphicon-book" aria-hidden="true"></span><%= post.major %></div>
                <div class="profile-left"><i class="fa fa-info-circle" aria-hidden="true"></i> 要約</div>
                <div style="padding:10px"><%= post.summary %></div>
                <div class="profile-left"><i class="fa fa-heart" aria-hidden="true"></i> お気に入り数　(<%= post.votes_for.size %>)</div>
                <div class="profile-left"><i class="fa fa-comment" aria-hidden="true"></i> コメント数　(<%= post.comments.count %>)</div>
                

              
                
              <% if post.user == current_user %>
                  <%= link_to "編集する", edit_post_path(post), class: :"button-radius" %>
                  <%= link_to "消去する", post_path(post), method: :delete, class: :"button-radius" %>
              <% end %>
              
           </div> 
            <% end %>

</div>