<% provide(:title, "最新の論文一覧") %>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1"  id="user_profile"> <!--ここに、共通の友人一覧を表示-->
        <div class="profile-header" style="text-align:center;padding:20px 0; color:#aaaaaa">論文一覧(<%= @posts.count %>)</div>
    </div>
    
    <div class="col-xs-12 mobile-show" id="user_profile">
        <span class="tag-button"><%= link_to "アメリカ研究(#{Post.where(major: "アメリカ研究").count})", papermajor_path(major: "アメリカ研究") %></span>
        <span class="tag-button"><%= link_to "教育学(#{Post.where(major: "教育学").count})", papermajor_path(major: "教育学") %></span>
        <span class="tag-button"><%= link_to "文化人類学(#{Post.where(major: "文化人類学").count})", papermajor_path(major: "文化人類学") %></span>
        <span class="tag-button"><%= link_to "アジア研究(#{Post.where(major: "アジア研究").count})", papermajor_path(major: "アジア研究") %></span>
        <span class="tag-button"><%= link_to "生物学(#{Post.where(major: "生物学").count})", papermajor_path(major: "生物学") %></span>
        <span class="tag-button"><%= link_to "経営学(#{Post.where(major: "経営学").count})", papermajor_path(major: "経営学") %></span>
        <span class="tag-button"><%= link_to "化学(#{Post.where(major: "化学").count})", papermajor_path(major: "化学") %></span>
        <span class="tag-button"><%= link_to "経済学(#{Post.where(major: "経済学").count})", papermajor_path(major: "経済学") %></span>
        <span class="tag-button"><%= link_to "環境学(#{Post.where(major: "環境学").count})", papermajor_path(major: "環境学") %></span>
        <span class="tag-button"><%= link_to "グローバル研究(#{Post.where(major: "グローバル研究").count})", papermajor_path(major: "グローバル研究") %></span>
        <span class="tag-button"><%= link_to "ジェンダー・セクシャリティー研究(#{Post.where(major: "ジェンダー・セクシャリティー研究").count})", papermajor_path(major: "ジェンダー・セクシャリティー研究") %></span>
        <span class="tag-button"><%= link_to "歴史学(#{Post.where(major: "歴史学").count})", papermajor_path(major: "歴史学") %></span>
        <span class="tag-button"><%= link_to "国際関係学(#{Post.where(major: "国際関係学").count})", papermajor_path(major: "国際関係学") %></span>
        <span class="tag-button"><%= link_to "情報科学(#{Post.where(major: "情報科学").count})", papermajor_path(major: "情報科学 ") %></span>
        <span class="tag-button"><%= link_to "日本研究(#{Post.where(major: "日本研究").count})", papermajor_path(major: "日本研究") %></span>
        <span class="tag-button"><%= link_to "文学(#{Post.where(major: "文学").count})", papermajor_path(major: "文学") %></span>
        <span class="tag-button"><%= link_to "言語学(#{Post.where(major: "言語学").count})", papermajor_path(major: "言語学") %></span>
        <span class="tag-button"><%= link_to "メディア・コミュニケーション・文化(#{Post.where(major: "メディア・コミュニケーション・文化").count})", papermajor_path(major: "メディア・コミュニケーション・文化") %></span>
        <span class="tag-button"><%= link_to "数学(#{Post.where(major: "数学").count})", papermajor_path(major: "数学") %></span>
        <span class="tag-button"><%= link_to "音楽(#{Post.where(major: "音楽").count})", papermajor_path(major: "音楽") %></span>
        <span class="tag-button"><%= link_to "哲学・宗教学(#{Post.where(major: "哲学・宗教学").count})", papermajor_path(major: "哲学・宗教学") %></span>
        <span class="tag-button"><%= link_to "物理学(#{Post.where(major: "物理学").count})", papermajor_path(major: "物理学") %></span>
        <span class="tag-button"><%= link_to "政治学(#{Post.where(major: "政治学").count})", papermajor_path(major: "政治学") %></span>
        <span class="tag-button"><%= link_to "公共政策(#{Post.where(major: "公共政策").count})", papermajor_path(major: "公共政策") %></span>
        <span class="tag-button"><%= link_to "心理学(#{Post.where(major: "心理学").count})", papermajor_path(major: "心理学") %></span>
        <span class="tag-button"><%= link_to "社会学(#{Post.where(major: "社会学").count})", papermajor_path(major: "社会学") %></span>
        <span class="tag-button"><%= link_to "その他(#{Post.where(major: "その他").count})", papermajor_path(major: "その他") %></span>
    </div>
<!-------------------------------------------------論文ページ------------------------------------------------------------->
<% @posts.each do |post| %>
    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1" id="posts-index"> 
                <div class="profile-header"><%= link_to post.title, post_path(post)%> <small> /<%= time_ago_in_words(post.created_at)%>前</small></div>
                <div class="profile-left">
                    <% post.keyword_list.each do |tag| %>
                        <span class="tag-button"><%= tag %></span>
                    <% end %>
                </div>
                <div class ="profile-left"><%= image_tag post.user.attachment, :size =>"20x20" %> <%=link_to post.user.username,user_path(post.user)%></div>
                <div class ="profile-left"><span class="glyphicon glyphicon glyphicon-book" aria-hidden="true"></span><%= post.major %></div>
    
                <div class="profile-left"><i class="fa fa-heart" aria-hidden="true"></i>(<%= post.votes_for.size %>) <i class="fa fa-comment" aria-hidden="true"></i>(<%= post.comments.count %>)</div>

              <% if post.user == current_user %>
                  <%= link_to "編集する", edit_post_path(post), class: :"button-radius" %>
                  <%= link_to "消去する", post_path(post), method: :delete, class: :"button-radius" %>
              <% end %>
    </div>
    <% end %>
    
</div>
