<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1"  id="user_profile"> <!--ここに、共通の友人一覧を表示-->
        <div class="profile-header" style="text-align:center;padding:20px 0">みんなの卒論一覧</div>
    </div>
<!-------------------------------------------------論文ページ------------------------------------------------------------->
<% @posts.each do |post| %>
    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1" id="posts-index"> 
                <div class="profile-header"><%= link_to post.title, post_path(post)%></div>
                <div class="profile-left"><i class="fa fa-heart" aria-hidden="true"></i>キーワード
                    <% post.keyword_list.each do |tag| %>
                        <span class="tag-button"><%= tag %></span>
                    <% end %>
                </div>
                <div class ="profile-left"><%= image_tag post.user.attachment, :size =>"30x30" %> <%= post.user.username %></div>
                <div class ="profile-left"><span class="glyphicon glyphicon glyphicon-book" aria-hidden="true"></span><%= post.major %></div>
                <div class="profile-left"><i class="fa fa-info-circle" aria-hidden="true"></i> 要約</div>
                <div style="padding:10px"><%= post.summary %></div>
                <div class="profile-left"><i class="fa fa-heart" aria-hidden="true"></i> お気に入り数　(<%= post.votes_for.size %>)</div>
                <div class="profile-left"><i class="fa fa-comment" aria-hidden="true"></i> コメント数　(<%= post.comments.count %>)</div>

              <% if post.user == current_user %>
                  <%= link_to "編集する", edit_post_path(post), class: :"button-radius" %>
                  <%= link_to "消去する", post_path(post), method: :delete, class: :"button-radius" %>
              <% end %>
    </div>
    <% end %>
    
</div>
