<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 profile" id="user_profile">
         <%= link_to "ユーザー一覧",users_path %> / <%= image_tag @user.attachment, :size =>"30x30" %><%= link_to @user.username, user_path(@user) %>　/ お気に入りした論文
    </div>
    
    <% @posts.each do |post| %>
      <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1" id="user_profile"> <!-- User Profile ----------------------------->
        <div class="col-xs-12 col-sm-12 col-md-12  profile-header"><%= link_to post_path(post.id) do%><%= post.title %><% end %></div>
          <div class="col-xs-12 col-sm-12 col-md-12" > <!-- ユーザーの属性 -->
            <div class="profile-left"><span class="glyphicon glyphicon glyphicon-user" aria-hidden="true"></span> <%= post.user.username %></div>
            <div class="profile-left"><span class="glyphicon glyphicon glyphicon-book" aria-hidden="true"></span> <%= post.major %></div>
            <div class="profile-left"><i class="fa fa-heart" aria-hidden="true"></i>キーワード</div>
            <span><%= post.keyword %></span>
            <div><%= post.summary %></div>
            <i class="fa fa-heart-o" aria-hidden="true"></i>(<%= post.votes_for.size %>)
            <i class="fa fa-comment-o" aria-hidden="true"></i>(<%= post.comments.count %>)
            <% if post.user == current_user %>
                <%= link_to '論文を編集する', edit_post_path(post.id) %>
                <%= link_to '論文を削除する', post_path(post.id), method: :delete %>
            <% end %> 
          </div>
         </div>
    <% end %>
</div><!-- row ----------------------------->

