<% provide(:title, "論文を追加する") %>
<div class="row" style="padding-top:100px">  
   <%= form_for(@posts, :html => {:class => "form"}) do |f| %>
   <div class="col-xs-12 col-sm-12 col-md-12 col-xs-12" id="profile-abstract"> <!-- 論文/興味のabstract -->
        
            <div class="profile-left">
                <div style="border-bottom:1px solid #606060"><i class="fa fa-heart" aria-hidden="true"></i>論文タイトル</div>
                <div style="padding:20px"><%= f.text_area :title, style: :"width:100%", placeholder: :"論文のタイトルを入力してください。（例）学校外教育について" %></div>
            </div>
            
            <div class="profile-left">
                <div style="border-bottom:1px solid #606060"><i class="fa fa-info-circle" aria-hidden="true"></i>専攻</div>
                <div style="padding:20px">
                      <%= f.select :major,([
                [""],
                ["アメリカ研究"],
                ["文化人類学"],
                ["アジア研究"],
                ["生物学"],
                ["経営学"],
                ["化学"],
                ["教育学"],
                ["経済学"],
                ["環境学"],
                ["グローバル研究"],
                ["ジェンダー・セクシャリティー研究"],
                ["歴史学"],
                ["国際関係学"],
                ["情報科学"],
                ["日本研究"],
                ["法学"],
                ["言語教育"],
                ["文学"],
                ["言語学"],
                ["メディア・コミュニケーション・文化"],
                ["数学"],
                ["音楽"],
                ["平和研究"],
                ["哲学・宗教学"],
                ["物理学"],
                ["政治学"],
                ["公共政策"],
                ["心理学"],
                ["社会学"],
                ["その他"]
                ]) %>
                </div>
            </div>
            
                <div class="profile-left">
                    <div style="border-bottom:1px solid #606060"><i class="fa fa-info-circle" aria-hidden="true"></i>キーワード</div>
                    <div><%= text_field_tag 'post[keyword_list]', @posts.keyword_list.join(',' || '、'), "data-role" => "tagsinput", :class =>"form",style: :"width:100%", placeholder: :"半角コンマ区切りで論文のキーワードを入力すると、タグとして表示されるようになります。（例）教育社会学,塾,教育格差,教育の正当化機能" %></div>
                </div>
                
            <div class="profile-left">
                <div style="border-bottom:1px solid #606060"><i class="fa fa-info-circle" aria-hidden="true"></i>論文紹介</div>
                <div style="padding:20px"> <%= f.text_area :summary, style: :"width:100%", placeholder: :"ここに論文の要約を記入してください。"  %></div>
            </div>
    
             <div class="profile-left">
                <div style="border-bottom:1px solid #606060"><i class="fa fa-info-circle" aria-hidden="true"></i>【任意】PDFを添付</div>
                <div style="padding:20px"><%= f.file_field :file do%>PDFを選択<% end %></div>
             </div>
             
              <div class="profile-left">
                <div style="border-bottom:1px solid #606060">
                    （注)</br>
                    論文には、個人情報が含まれている可能性があります。気になる方は<%= link_to "利用規約", terms_path %>をご確認ください。
                </div>
             </div>
             <%= f.submit '利用規約に同意して、投稿する', class: :"btn btn-info btn-block" %>
            <% end %>
    </div>
    
    <div class="col-xs-12 col-sm-12 col-md-12 profile" id="user_profile">
        <h2 class="profile-header">WordファイルをPDFにする場合</h2>
            <ul>
                <li>「PDF」形式で保存したいファイルを開き、「ファイル」タブをクリック</li>
                <li>保存したいフォルダーを決めます。</li>
                <li>「名前を付けて保存」画面が表示されるので「ファイルの種類」を「PDF(*.pdf)」に変更して「ファイル名」を決めます</li>
                <li>「保存」ボタンをクリック。</li>
            </ul>
        <h2 class="profile-header">PDFの注意点</h2>
            <ul>
                <li>卒業論文には実名が記入されている場合があります。</li>
                <li>プライバシーの観点から、必ず個人情報が含まれていないか確認してください</li>
            </ul>
    </div>
    
    
 </div>