<% provide(:title, "#{@posts.title}") %>

<div class="row">
<!-------------------------------------------------論文ページ------------------------------------------------------------->
        <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1" id="user_profile" style="margin-top:50px">
          <%= link_to "ユーザー一覧",users_path %> / <%= image_tag @posts.user.attachment, :size =>"30x30" %><%= link_to @posts.user.username, user_path(@posts.user) %> / <%= link_to @posts.title, post_path(@posts) %>
        </div>
        
        <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1" id="posts-index"> 
                <div class=" profile-header"><%= link_to @posts.title, post_path(@posts)%></div>
                <div class ="profile-left"><span class="glyphicon glyphicon glyphicon-book" aria-hidden="true"></span><%= @posts.major %></div>
                <div class="profile-left"><i class="fa fa-tags" aria-hidden="true"></i>キーワード
                  <% @posts.keyword_list.each do |tag| %>
                      <span class="tag-button"> <%= tag %></span>
                  <% end %>
                 </div>
                <div class ="profile-left"><%= link_to user_path(@posts.user) do%><%= image_tag @posts.user.attachment, :size =>"30x30" %><%= @posts.user.username %><% end %></div>
                <div class="profile-left"><i class="fa fa-info-circle" aria-hidden="true"></i> 要約</div>
                <div class="profile-left"><%= @posts.summary %></div>
                <div class="profile-left">
                    <a href="#comment-form"><i class="fa fa-comment fa-2x colored-star"></i><%= @posts.comments.count %></a> 
                    <a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-hashtags="CurioCity">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                    <% unless current_user.voted_for? @posts %>
                        <%= link_to like_post_path(@posts), method: :put do%><i class="fa fa-star-o fa-2x colored-star" aria-hidden="true"></i><%end%> <%= @posts.votes_for.size %>
                    <% else %>
                        <%= link_to dislike_post_path(@posts), method: :put do%><i class="fa fa-star fa-2x colored-star" aria-hidden="true"></i><%end%> <%= @posts.votes_for.size %>
                    <% end %>
                    <% if current_user.posts.present? %>
                      <%= link_to asset_path(@posts.file),:target=>["_blank"]  do%> <i class="fa fa-file-pdf-o fa-2x pdf-color" aria-hidden="true"></i> <%end%>
                    <% else %>
                      <%= link_to new_post_path do %><i class="fa fa-file-pdf-o fa-2x pdf-color" aria-hidden="true"></i>論文をアップロードすると、このユーザーの論文を見ることができます。<% end %>
                    <% end %>
                </div>
                <div>
                      <% if @posts.user == current_user %>
                        <%= link_to "編集する", edit_post_path(@posts), class: :"button-radius" %>
                        <%= link_to "消去する", post_path(@posts), method: :delete, class: :"button-radius" %>
                    <% end %>
                </div>
        </div>
              

<!------------------------------------------------------------------------------------------------------------->

<% if @posts.comments.present?%>
<div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1" style="text-align:center; font-size:24px">コメント(<%= @posts.comments.count %>)</div>
<!-- 表示comment ----------------------->  
  <% @posts.comments.each do |comment| %>
    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1" id="comment-content"> 
      <div class="col-md-2">
        <div><%= link_to user_path(comment.user) do %> <%= image_tag comment.user.attachment, :size =>"30x30" %><%= comment.user.username%>さん<%end%></div>
        <div><%=comment.user.major%></div>
      </div>
      
      <div class="col-md-10">
          <%= comment.text %>
        <div><small><%= time_ago_in_words(comment.created_at)%>前</small>
        <% unless current_user.voted_for? comment %>
          <%= link_to like_comment_path(comment), method: :put do%><i class="fa fa-star-o  fa-2x colored-star" aria-hidden="true"></i><% end %> <%= comment.votes_for.size %>
        <% else %>
          <%= link_to dislike_comment_path(comment), method: :put do%><i class="fa fa-star fa-2x uncolored-star" aria-hidden="true"></i><%end%> <%= comment.votes_for.size %>
        <% end %>
          <% if comment.user == current_user %>
            <%= link_to 'コメントを消す', post_comment_path(post_id: @posts.id, id: comment.id), method: :delete, class: :"tag-button" %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
<!--コメントを入力する -->  


<%= form_for Comment.new, url: post_comments_path(@posts), method: :post do |f| %>
  <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 profile" id="user_profile"> 
    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1" style="text-align:center; font-size:24px" id="comment-form">コメントする</div>

  
    <div class="profile-left">
    <%= f.text_field :text, style: :"width:100%; height:200px", placeholder: :"ここにコメントを入力" %>
    </div>
    
    <div class="profile-left">
        <div><%= f.submit 'コメントする', class: :"btn btn-primary" %></div>
    </div>

</div>  
<% end %>

</div>