<!DOCTYPE html>
<html>
<head>
  <title>卒論Share</title>
  <link href="https://fonts.googleapis.com/earlyaccess/nicomoji.css" rel="stylesheet" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <!------ analytics ----------->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-91499303-1', 'auto');
  ga('send', 'pageview');
  </script>
  
</head>
<body>
<div class="container-fluid">　<!--whole container -->
<!-- HEADER + NAVBAR AREA  NON MOBILE--------------------------------------------------->

  <div class="row non-mobile-show">
    <div class="col-ms-12 col-md-12 navbar-fixed-top" id="nav-all" style="border-bottom:0px">
      <%= link_to image_tag('sotsuronshare.png', { :size =>"120x120", :class => "navbar-brand"}), users_path %></a>
      <ul class="nav nav-tabs navbar-right" style="border-bottom:0px">
        <% if current_user %>
          <li role="presentation"><%= link_to user_path(current_user) do%><%= current_user.username %>さん<% end %></li>
          <li role="presentation"><a href="#search_box" data-toggle="tab" aria-controls="search_box" role="tab"><i class="fa fa-search" aria-hidden="true"></i>検索</a></li>
          <li role="presentation"><%= link_to clip_user_path(current_user.id) do %><i class="fa fa-paperclip" aria-hidden="true"></i>クリップ<% end %></li>
          <li role="presentation"><%= link_to friends_user_path(current_user) do %><i class="fa fa-user-plus" aria-hidden="true"></i>コンタクト<% end %></li>
          <li role="presentation" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-align-justify"></i>設定</a>
            <ul class="dropdown-menu col-xs-12">
              <li><%= link_to "プロフィール",edit_user_path(current_user.id) %></li>
              <li><%= link_to "ログアウト", logout_path %></li>
            </ul>
        <% else %>
          <li role="presentation"><%= link_to "ログイン", login_path %></li>
        <% end %>  
      </ul>
    </div> <!-- id = "nav-all" -->      
  </div> <!--row --> 
<!-- HEADER + NAVBAR AREA MOBILE--------------------------------------------------->
  
  <div class="row mobile-show">
    <div class="col-xs-12 navbar-fixed-top" id="nav-all" style="border-bottom:0px">
      <ul class="nav nav-tabs" style="border-bottom:0px">
          <li role="presentation"><%= link_to "",users_path, :class => "navbar-brand" %></li>
        <% if current_user %>
          <li role="presentation" class="dropdown xs-dropdown" style="float:right"><a class="dropdown-toggle xs-dropdown" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" ><i class="fa fa-align-justify"></i></a>
            <ul class="dropdown-menu left col-xs-12 col-sm-12">
              <li><%= link_to user_path(current_user) do%><%= current_user.username %>さん<% end %></li>
              <li><a href="#search_box" data-toggle="tab" aria-controls="search_box" role="tab"><i class="fa fa-search" aria-hidden="true"></i>検索</a></li>
              <li><%= link_to clip_user_path(current_user.id) do %><i class="fa fa-paperclip" aria-hidden="true"></i>クリップ<% end %></li>
              <li><%= link_to friends_user_path(current_user) do %><i class="fa fa-user-plus" aria-hidden="true"></i>コンタクト<% end %></li>
              <li><%= link_to "プロフィール",edit_user_path(current_user.id) %></li>
              <li><%= link_to "ログアウト", logout_path %></li>
            </ul>
        <% else %>
          <li role="presentation"><%= link_to "ログイン", login_path %></li>
        <% end %>  
      </ul>
    </div> <!-- id = "nav-all" -->      
  </div> <!--row -->  <!-- HEADER + NAVBAR AREA  NON MOBILE--------------------------------------------------->
  
  
<!-- HEADER + NAVBAR AREA MOBILE--------------------------------------------------->

<!-- HEADER + NAVBAR AREA --------------------------------------------------->
<!-- NOTICE-BOX --------------------------------------------------->
<% if flash[:notice] %>
  <div class="row notice-box">
    <div class="col-md-12 com-ms-12">
        <div class="alert alert-success">
          <%= flash[:notice] %>
        </div>
    </div>
  </div>
<% end %>
<% if flash[:alert] %>
  <div class="row notice-box">
    <div class="col-md-12 com-ms-12">
        <div class="alert alert-danger">
          <%= flash[:alert] %>
        </div>
    </div>
  </div>
<% end %>
<!-- NOTICE-BOX --------------------------------------------------->
<!-- Added TAB-CONTENT AREA --------------------------------------------------->
  <div class="row tab-content">
    <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 tab-pane fade" role="tabpanel" id="search_box">
      <%= search_form_for @q do |f| %>
            <!-- 卒業したかを選ぶタグ-->
            <div>卒業：<%= f.select :graduate_cont,([
              [""],
              ["卒業済み"],
              ["学部生"]
            ])%>
            </div>
            <!-- メジャーを選ぶタグ-->
            <div>専攻：
            <%= f.select :major_cont,([
                  [""],
                  ["アメリカ研究 American Studies"],
                  ["文化人類学 Anthropology"],
                  ["アジア研究 Asian Studies"],
                  ["生物学 Biology"],
                  ["経営学 Business"],
                  ["比較教育 Comperative Education"],
                  ["化学 Chemistory"],
                  ["教育学 Education"],
                  ["教育・メディア・社会 Education, Media, and Society"],
                  ["環境学 Environmental Studies"],
                  ["グローバル研究 Global Studies"],
                  ["ジェンダー・セクシャリティー研究 Gender and Sexuality Studies"],
                  ["歴史学 History"],
                  ["国際関係学 International Relations"],
                  ["情報科学 Information Science"],
                  ["日本研究 Japan Studies"],
                  ["法学 Law"],
                  ["言語教育 Language Education"],
                  ["文学 Literatures"],
                  ["言語学 Linguistics"],
                  ["メディア・コミュニケーション・文化 Media, Communication, and Culture"],
                  ["数学 Mathematics"],
                  ["音楽 Music"],
                  ["音楽 Music"],
                  ["平和研究 Peace Studies"],
                  ["哲学・宗教学 Philosophy and Religion"],
                  ["物理学 Physics"],
                  ["政治学 Politics"],
                  ["公共政策 Public Policy"],
                  ["心理学 Psychology"],
                  ]) %>
            </div>
              <%= f.submit %></li>
          <% end %>
    </div> <!-- search_box -->
  </div> <!-- row tab-content-->
<%= yield %>
<div><!--container -->
</body>
</html>
