<!DOCTYPE html>
<html>
<head>
  <title>卒論Share</title>
  <link href="https://fonts.googleapis.com/earlyaccess/nicomoji.css" rel="stylesheet" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- HEADER + NAVBAR AREA --------------------------------------------------->
<div class="container-fluid">　<!--navbar container -->
  <div class="row">
    <div class="col-ms-12 col-md-12" id="nav-all">
      <a class="navbar-brand nav nav-tabs"><%= link_to "卒論Share", users_path %></a>
      <ul class="nav nav-tabs navbar-right">
        <% if current_user %>
          <li role="presentation"><%= current_user.username %></li>
          <li role="presentation"><%= image_tag current_user.avatar_url, :size => "40x40" %></li>
          <li role="presentation" ><a href="#search_box" data-toggle="tab" aria-controls="search_box" role="tab"><i class="fa fa-search" aria-hidden="true"></i></a></li>
          <li role="presentation"><%= link_to clip_user_path(current_user.id) do %><i class="fa fa-paperclip" aria-hidden="true"></i>(<%= current_user.votes_for.size %>)<% end %></li>
          <li role="presentation"><%= link_to friends_user_path(current_user) do %><i class="fa fa-user-plus" aria-hidden="true"></i><% end %></li>
          <li role="presentation" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-align-justify"></i><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to "編集",edit_user_path(current_user.id) %></li>
              <li><%= link_to "ログアウト", logout_path %></li>
            </ul>
        <% else %>
          <li role="presentation"><%= link_to "ログイン", login_path %></li>
        <% end %>  
      </ul>
    </div> <!-- id = "nav-all" -->      
  </div> <!--row -->  
<div><!--container -->

<!-- HEADER + NAVBAR AREA --------------------------------------------------->

<!-- Added TAB-CONTENT AREA --------------------------------------------------->
  <div class="row tab-content">
    <div class="col-sm-12 col-md-12 tab-pane fade" role="tabpanel" id="search_box">
      <%= search_form_for @q do |f| %>
            <!-- 卒業したかを選ぶタグ-->
            <div>卒業：<%= f.select :graduate_cont,([
              [""],
              ["卒業済み"],
              ["学部生"]
            ])%>
            </div>
            <!-- メジャーを選ぶタグ-->
            <div>専攻：
            <%= f.select :major_cont,([
                  [""],
                  ["アメリカ研究 American Studies"],
                  ["文化人類学 Anthropology"],
                  ["アジア研究 Asian Studies"],
                  ["生物学 Biology"],
                  ["経営学 Business"],
                  ["比較教育 Comperative Education"],
                  ["化学 Chemistory"],
                  ["教育学 Education"],
                  ["教育・メディア・社会 Education, Media, and Society"],
                  ["環境学 Environmental Studies"],
                  ["グローバル研究 Global Studies"],
                  ["ジェンダー・セクシャリティー研究 Gender and Sexuality Studies"],
                  ["歴史学 History"],
                  ["国際関係学 International Relations"],
                  ["情報科学 Information Science"],
                  ["日本研究 Japan Studies"],
                  ["法学 Law"],
                  ["言語教育 Language Education"],
                  ["文学 Literatures"],
                  ["言語学 Linguistics"],
                  ["メディア・コミュニケーション・文化 Media, Communication, and Culture"],
                  ["数学 Mathematics"],
                  ["音楽 Music"],
                  ["音楽 Music"],
                  ["平和研究 Peace Studies"],
                  ["哲学・宗教学 Philosophy and Religion"],
                  ["物理学 Physics"],
                  ["政治学 Politics"],
                  ["公共政策 Public Policy"],
                  ["心理学 Psychology"],
                  ]) %>
            </div>
              <%= f.submit %></li>
          <% end %>
    </div> <!-- search_box -->
</div> <!-- row tab-content-->

<!-- Added TAB-CONTENT AREA --------------------------------------------------->

<%= yield %>
</body>
</html>
