<!DOCTYPE html>
<html>
<head>
  <title>卒論Share</title>
  <link href="https://fonts.googleapis.com/earlyaccess/nicomoji.css" rel="stylesheet" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" /> 
  
  <!------ analytics ----------->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-91499303-1', 'auto');
  ga('send', 'pageview');
  </script>
  
</head>
<body>
<div class="container-fluid">　<!--whole container -->
<!-- HEADER + NAVBAR AREA  NON MOBILE--------------------------------------------------->

  <div class="row non-mobile-show">
    <div class="col-ms-12 col-md-12 navbar-fixed-top" id="nav-all" style="border-bottom:0px">
      <%= link_to "", users_path, :class => "navbar-brand" %>
      <ul class="nav nav-tabs navbar-right" style="border-bottom:0px">
        <% if current_user %>
          <li role="presentation"><%= link_to user_path(current_user) do%><%= current_user.username %>さん<% end %></li>
          <li role ="presentation"></i><%= link_to edit_user_path(current_user.id) do%><i class="fa fa-pencil-square-o" aria-hidden="true"></i>プロフィールを編集<% end %></li>
    			<li><a data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fa fa-search" aria-hidden="true"></i>論文を検索</a></li>          <li role="presentation"><%= link_to clip_user_path(current_user.id) do %><i class="fa fa-paperclip" aria-hidden="true"></i>クリップ<% end %></li>
          <li role="presentation"><%= link_to friends_user_path(current_user) do %><i class="fa fa-user-plus" aria-hidden="true"></i>コンタクト<% end %></li>
          <li role="presentation" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-align-justify"></i>設定</a>
            <ul class="dropdown-menu col-xs-12">
              <li><%= link_to "ログアウト", logout_path %></li>
            </ul>
        <% else %>
          <li role="presentation"><%= link_to "ログイン", login_path %></li>
        <% end %>  
      </ul>
    </div> <!-- id = "nav-all" -->      
  </div> <!--row --> 
  
<!-- HEADER + NAVBAR AREA MOBILE--------------------------------------------------->
  <div class="row">
    <nav class="navbar navbar-default navbar-fixed-top mobile-show" id ="nav-all">
  		<div class="navbar-header col-xs-12">
  			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample">
          <i class="fa fa-align-justify"></i>
        </button>
  			<%= link_to "",users_path, :class => "navbar-brand" %>
  		</div>
  		
  		<div class="collapse navbar-collapse" id="navbarEexample">
  			<ul class="nav navbar-nav">
  			  <% if current_user %>
  				  
    				<li><a href="#" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fa fa-search" aria-hidden="true"></i>論文を検索</a></li>
    				<li><%= link_to clip_user_path(current_user.id) do %><i class="fa fa-paperclip" aria-hidden="true"></i>クリップした論文を表示<% end %></li>
            <li><%= link_to friends_user_path(current_user) do %><i class="fa fa-user-plus" aria-hidden="true"></i>コンタクトリストを表示<% end %></li>
            <li><%= current_user.username %>さん</li>
            <li><%= link_to user_path(current_user) do%>プロフィールを表示<% end %></li>
            <li><%= link_to edit_user_path(current_user.id) do%><i class="fa fa-pencil-square-o" aria-hidden="true"></i>プロフィールを編集<% end %></li>
            <li><%= link_to "ログアウト", logout_path %></li>
          <% else %>
            <li role="presentation"><%= link_to "ログイン", login_path %></li>
          <% end %>  
  			</ul>
  		</div>
    </nav>
  </div>

  
<!-- HEADER + NAVBAR AREA MOBILE--------------------------------------------------->

<!-- HEADER + NAVBAR AREA --------------------------------------------------->
<!-- NOTICE-BOX --------------------------------------------------->
<% if flash[:notice] %>
  <div class="row notice-box">
    <div class="col-xs-12 com-sm-12 col-md-12">
        <div class="alert alert-success">
          <%= flash[:notice] %>
        </div>
    </div>
  </div>
<% end %>
<% if flash[:alert] %>
  <div class="row notice-box">
    <div class="col-xs-12 com-sm-12 col-md-12">
        <div class="alert alert-danger">
          <%= flash[:alert] %>
        </div>
    </div>
  </div>
<% end %>
<!-- NOTICE-BOX --------------------------------------------------->
<!-- Modal Box --------------------------------------------------->

<div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">検索</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body">
        <form>
          <div class="form-group">
            <%= search_form_for @q do |f| %>
            <div>卒業：</div>
            <div><%= f.select :graduate_cont,([
              [""],
              ["卒業済み"],
              ["学部生"]
            ])%>
            </div>
            <!-- メジャーを選ぶタグ-->
            <div>専攻：</div>
            <div><%= f.select :major_cont,([
                  [""],
                  ["アメリカ研究"],
                  ["文化人類学"],
                  ["アジア研究"],
                  ["生物学"],
                  ["経営学"],
                  ["比較教育"],
                  ["化学"],
                  ["教育学"],
                  ["環境学"],
                  ["グローバル研究"],
                  ["ジェンダー・セクシャリティー研究"],
                  ["歴史学"],
                  ["国際関係学"],
                  ["情報科学"],
                  ["日本研究"],
                  ["法学"],
                  ["言語教育"],
                  ["文学"],
                  ["言語学"],
                  ["メディア・コミュニケーション・文化"],
                  ["数学"],
                  ["音楽"],
                  ["平和研究"],
                  ["哲学・宗教学"],
                  ["物理学"],
                  ["政治学"],
                  ["公共政策"],
                  ["心理学"]
                  ]) %>
            </div><!-- form group -->
          </div><!-- form group -->
    </div><!-- modal body -->
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
        <%= f.submit "検索", :class =>"btn btn-primary" %>
  </form>
        <% end %>
      </div>
      
    </div>
  </div>
</div>


      
<%= yield %>
</div><!--container -->
</body>
</html>
