<!DOCTYPE html>
<html>
<head>
  <title>卒論Share</title>
  <link href="https://fonts.googleapis.com/earlyaccess/nicomoji.css" rel="stylesheet" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<ul class="nav nav-tabs">
  <% if current_user %>
    <li role="presentation" class="active title"><%= link_to "卒論Share", root_path %></li>
    <li role="presentation"><%= link_to "ユーザーを探す", users_path %></li>
    <li role="presentation"><%= link_to "プロフィールを編集",edit_user_path(current_user.id) %></li>
    <li role="presentation"><%= link_to "ログアウト", logout_path %> </li>
    <%= search_form_for @q do |f| %>
      <li  class=" nav navbar-right "role="presentation">
      <%= f.select :major_cont,([
            [""],
            ["アメリカ研究 American Studies"],
            ["文化人類学 Anthropology"],
            ["アジア研究 Asian Studies"],
            ["生物学 Biology"],
            ["経営学 Business"],
            ["比較教育 Comperative Education"],
            ["化学 Chemistory"],
            ["教育学 Education"],
            ["教育・メディア・社会 Education, Media, and Society"],
            ["環境学 Environmental Studies"],
            ["グローバル研究 Global Studies"],
            ["ジェンダー・セクシャリティー研究 Gender and Sexuality Studies"],
            ["歴史学 History"],
            ["国際関係学 International Relations"],
            ["情報科学 Information Science"],
            ["日本研究 Japan Studies"],
            ["法学 Law"],
            ["言語教育 Language Education"],
            ["文学 Literatures"],
            ["言語学 Linguistics"],
            ["メディア・コミュニケーション・文化 Media, Communication, and Culture"],
            ["数学 Mathematics"],
            ["音楽 Music"],
            ["音楽 Music"],
            ["平和研究 Peace Studies"],
            ["哲学・宗教学 Philosophy and Religion"],
            ["物理学 Physics"],
            ["政治学 Politics"],
            ["公共政策 Public Policy"],
            ["心理学 Psychology"],
            ]) %>
        <%= f.submit %></li>
    <% end %>
  <% else %>
    <li role="presentation"><%= link_to "ログイン", login_path %></li>
  <% end %>
</ul>

<%= yield %>
</div>
</body>
</html>
